<div class="container">
  <h1>Editing Task "{{item.description}}"</h1>
  <br>
  <form [formGroup]="modifyItemForm" (ngSubmit)="save(item)" #modifyItem="ngForm">
    <label for="descriptionModify"></label>
    <input [(ngModel)]="item.description" id="description" name="descriptionModify" type="text" class="form-control" formControlName="description" required>
    <br>
    <br>
    <button type="submit" class="btn btn-success button-description">Save</button> &nbsp;
    <button (click)="cancel()" class="btn btn-success button-description">Cancel</button>
  </form>

</div>
