<div class="container">
  <h1>To-Do List</h1>
  <div>
    <table>
      <tr *ngFor="let item of items">
        <td><label><input type="checkbox" id="{{item.id}}" value="{{item.description}}">{{item.description}}</label></td>
        <td><button id="editButton" (click)="edit(item)">Edit</button></td>
        <td><button (click)="delete(item)">Delete</button></td>
      </tr>

    </table>
  <div>
    <form [formGroup]="addItemForm" (ngSubmit)="onSubmit(addItemForm.value)" #addItem="ngForm">
      <br>
      <div class="form-group">
        <label for="description"></label>
        <input   type="text" class="form-control" id="description" name="description" formControlName="description" required>
        <button type="submit" id="button-description" class="btn btn-success">Add</button>
      </div>

    </form>
  </div>


</div>


